body{
    background-color: #ECF2FF;
    text-align: center;
}
h1{
    font-size: 8rem;
    color: #3E54AC;
}
h2{
    color: #BFACE2;
}
.counter{
    font-size: 3rem;
    color: #3E54AC;
    display: inline-block;
}
#player-victories{
    color: #BFACE2;
}
#cpu-victories{
    color: #BFACE2;
}
.VS{
    font-size: 5rem;
}